extends ./layout/main

block styles
  link(href="#{url_cdn}/pc/css/user.css" rel="stylesheet")
  
block content
  div(id="containerId" style="display:block;")!= html
block scripts
  script.
    window.gLang=gLang=LangService.states.lang;
    
    ga('send', 'pageview',location.pathname);

  script(src="#{url_cdn}/pc/js/common_trade.js")
  script(src="#{url_cdn}/pc/js/forget_password.js")
