extends ../layout/main
block stylesheet
  link(href="#{url_cdn}/mobile/css/user.css" rel="stylesheet")
block content
  div.container
    div.wrap.change_password
      div.header
        a.icon.user.back(href="javascript:history.back(-1)")
        div.title= LangService.flat('mobile', "Change password")
      
      div.content
        div.form
          div.field
            input.oldPassword(type="password" autofocus placeholder="#{LangService.flat('mobile', 'Old Password')}")
          div.field
            input.newPassword(type="password" placeholder="#{LangService.flat('mobile', 'New Password')}")
          div.field
            input.cfmPassword(type="password" placeholder="#{LangService.flat('mobile', 'Please enter Password Again')}")
          div.field
            button.submit#btnSubmitId= LangService.flat('mobile', "Submit")
          
block scripts
  script(src="#{url_cdn}/mobile/js/libs/zepto.min.js")
  script.
    
    var toastTimer = null;
    function showToast(msg){
      if(toastTimer){clearTimeout(toastTimer)}
      $(".toast").removeClass("hide").addClass("show").find(".msg").html(LangService.i18n(msg));
      toastTimer = setTimeout(function(){
        $(".toast").removeClass("show").addClass("hide").find(".msg").html(""); 
      },3e3);
    };
    function UserChangePassword(){
      var ELE = {
        oldPassword:$('.oldPassword'),
        newPassword:$('.newPassword'),
        cfmPassword:$('.cfmPassword'),
        btnSubmitId:$('#btnSubmitId'),
        //- reg:/^(\w|-|#|@|\*|\.|&|!|\?|;|:|~|,|%|^|\+){6,14}$/,
      }
      var Handler = {
        validNewPassword:function(pw,oldPw){
          if(pw.length<6||pw.length>14){
            return 'password must be between 6 and 14 characters';
          }
          if(pw==oldPw){
            return 'The new password cannot be the same as the old one';
          }
          return '';
        },
        validCfmPasswork:function(pw,cfmPw){
          if(pw!==cfmPw){
            return 'The two password must be the same';
          }
          return '';
        },
        doChangePassword:function(){
          
          var oldpassword = ELE.oldPassword.val(),
              newpassword = ELE.newPassword.val(),
              cfmpassword = ELE.cfmPassword.val();
          var _newpassword = Handler.validNewPassword(newpassword,oldpassword);
          var _cfmpassword = Handler.validCfmPasswork(newpassword,cfmpassword);
          if(!oldpassword||!newpassword||!cfmpassword){
            showToast('Password can not be empty');
            return;
          }
          if(_newpassword){
            showToast(_newpassword)
            return;
          }
          if(_cfmpassword){
            showToast(_cfmpassword)
            return;
          }
          ELE.btnSubmitId.attr("disabled",true);
          
          var token = Cookie.getCookie("token");
          var language = Cookie.getCookie("language");
          var url = '#{url_api.change_password}' + '?access-token=' + token;
          $.ajax({
            url: url,
            type: "POST",
            data: {
              "LoginForm[email]": gEmail,
              "LoginForm[oldpassword]": oldpassword,
              "LoginForm[newpassword]": newpassword,
              "LoginForm[cfmpassword]": cfmpassword,
              "token": token,
              "lang": language
            },
            success:function(resp){
              ELE.btnSubmitId.removeAttr("disabled");
              if(resp.status!=1){
                showToast(resp.msg);
                return;
              }
              showToast('Password is modified successfully');
              ELE.oldPassword.val('');
              ELE.newPassword.val('');
              ELE.cfmPassword.val('');
            },
            error:function(){
              ELE.btnSubmitId.removeAttr("disabled");
            }
          })
        }
      };
      function initEve(){
          ELE.btnSubmitId.on('click',Handler.doChangePassword);
      };
      var gEmail = "";
      this.init = function(){
        var _userinfo = Cookie.getCookie("userinfo");
        //unlogin need to login
        if(!_userinfo){
          location.href="/mobile/user/login";
          return;
        }
        try{var _uinfo = JSON.parse(unescape(_userinfo));}catch(e){
          Cookie.deleteCookie("token");
          Cookie.deleteCookie("userinfo");
        }
        gEmail = _uinfo.email||"";
        initEve();
      }
    };
    var changePassword = new UserChangePassword;
    changePassword.init();
