extends ../layout/main
block stylesheet
  link(href="#{url_cdn}/mobile/css/user.css" rel="stylesheet")
block content
  div.container
    div.wrap.forget_password
      div.header
        a.icon.user.back(href="javascript:history.back(-1)")
        div.title= LangService.flat('mobile', "Forgot password")
      
      div.content
        div.form
          div.field
            input#emailInputId(type="email" autofocus placeholder="#{LangService.flat('mobile', 'Email')}")
          div.field
            input.smscode#smsCodeInputId(type="tel" placeholder="#{LangService.flat('mobile', 'Confirmation Code')}")
            button.btn.get#btnSmsCodeId= LangService.flat('mobile', 'Get')
          div.field
            input#passwdInputId(type="password" placeholder="#{LangService.flat('mobile', 'New Password')}")
          div.field
            input#cfmPasswdInputId(type="password" placeholder="#{LangService.flat('mobile', 'Please enter Password Again')}")
          div.field
            button.submit#btnSubmitId= LangService.flat('mobile', "Submit")
block scripts
  script(src="#{url_cdn}/mobile/js/libs/zepto.min.js" type="text/javascript")
  script.
    var gCountryLangs = JSON.parse(unescape("#{countryLangs}"));
    var toastTimer = null;
    function showToast(msg){
      if(toastTimer){clearTimeout(toastTimer)}
      
      $(".toast").removeClass("hide").addClass("show").find(".msg").html(LangService.i18n(msg));
      toastTimer = setTimeout(function(){
        $(".toast").removeClass("show").addClass("hide").find(".msg").html(""); 
      },3e3);
    }
    
    function UserForgetPassword(){
      var codeTimer=null;
      var countryCode = "";
      var ELE = {
        emailInput:$("#emailInputId"),
        smsCodeInput:$("#smsCodeInputId"),
        btnSmsCode:$("#btnSmsCodeId"),
        passwdInput:$("#passwdInputId"),
        cfmPasswdInput:$("#cfmPasswdInputId"),
        btnSubmit:$("#btnSubmitId"),
      }
      var Handler = {
        validPassword:function(pw){
          if(!pw){return "Enter your password";}
          if(pw.length<6||pw.length>14){
            return "password must be between 6 and 14 characters";
          }
          return "";
        },
        validEmail:function(email){
          if (!email) {
            return "Enter your email address";
          }

          var emailValid = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          if (!emailValid.test(email)) {
            return "Enter a valid email address";
          }

          return "";
        },
        validSmsCode:function(smscode){
          if(!smscode){
            return "SMS code is required";
          }else if(!/\w+/.test(smscode)){
            return "Enter sms code you received";
          }
        },
        doGetSmsCode:function(){
          var _email = ELE.emailInput.val();
          var validEmailMsg = Handler.validEmail(_email);
          if(validEmailMsg){
            showToast(validEmailMsg);
            return;
          }
          var _url = "#{url_api.sms_code}";
          if(ELE.btnSmsCode.hasClass("disable")){
            return;
          }
          var  _postData = {
            email:_email,
            lang:Cookie.getCookie("language"),
            country: countryCode,
          }
          ELE.btnSmsCode.removeAttr("disabled")
          $.post(_url,_postData,(resp)=>{
            ELE.btnSmsCode.removeAttr("disabled")
            if(!resp||resp.status!=1){
              showToast(resp.msg);
              return;
            }

            var CODE_TIMEOUT = 120;
            var _btnText = ELE.btnSmsCode.html();
            ELE.btnSmsCode.html(CODE_TIMEOUT);
            ELE.btnSmsCode.attr("disabled",true);
            ELE.btnSmsCode.addClass("disable");
            //开始计时
            if(codeTimer){clearInterval(codeTimer)}
            codeTimer = setInterval(function(){
              CODE_TIMEOUT--;
              ELE.btnSmsCode.html(CODE_TIMEOUT);
              if(CODE_TIMEOUT<=0){
                clearInterval(codeTimer);
                ELE.btnSmsCode.attr("disable","");
                ELE.btnSmsCode.removeClass("disable");
                ELE.btnSmsCode.html(_btnText);
              }
            },1e3);
          });
        },
        doChangePassword:function(){
          
          var _passwd = ELE.passwdInput.val();
          var _cfmPasswd = ELE.cfmPasswdInput.val();
          var _email = ELE.emailInput.val();
          var _smscode = ELE.smsCodeInput.val();
          //verify
          var validEmailMsg = Handler.validEmail(_email);
          if(validEmailMsg){
            showToast(validEmailMsg);
            return;
          }
          
          var validSmsCodeMsg = Handler.validSmsCode(_smscode);
          if(validSmsCodeMsg){
            showToast(validSmsCodeMsg);
            return;
          }
          if(_passwd!=_cfmPasswd){
            showToast("Password does not match the confirm password");
            return;
          }
          var validPasswordMsg = Handler.validPassword(_passwd);
          var validCfmPasswordMsg = Handler.validPassword(_cfmPasswd);
          if(validPasswordMsg||validCfmPasswordMsg){
            showToast(validPasswordMsg);
            return;
          }
          ELE.btnSubmit.attr("disabled",true);
          var _postData = {
            email:_email,
            npwd:_passwd,
            cnpwd:_cfmPasswd,
            email_code:_smscode,
            "lang":Cookie.getCookie("language"),
          };
          var _url = "#{url_api.forget_password}";
          $.post(_url,_postData,function(resp){
            ELE.btnSubmit.removeAttr("disabled")
            if(!resp||resp.status!=1){
              showToast(resp.msg);
              return;
            }
            // alert(lang.__i18n("Reset password success!"));
            showToast("Reset password success!");
            location.href="/mobile/user/login";
          });
        }
      }
      function initEvt(){
        ELE.btnSubmit.on("click",Handler.doChangePassword);
        ELE.btnSmsCode.on("click",Handler.doGetSmsCode);
      }
      this.init = function(){
        $.map(gCountryLangs,function(val,key){
          if(val.lang===LangService.states.lang){
            countryCode = key;
          }
        })
        initEvt();
      }
    }
    var forgetPassword  = new UserForgetPassword();
    forgetPassword.init();
