extends ../layout/main
block stylesheet
  link(href="#{url_cdn}/mobile/css/user.css" rel="stylesheet")
  //- link(href="/mobile/css/user.css" rel="stylesheet")
block content
  div.container.reg
    div.wrap.reg
      div.header
        a.icon.user.back(href="javascript:history.back(-1)")
        div.title= LangService.flat('mobile', "Sign Up")
      
      div.content
        div.banner
          i#logoId.logos.en
        div.form
          div.tips= LangService.flat("mobile","Please provide real information in order to ensure the safety of your deposits/withdrawals")
          div.field
            input#lastNameInputId(type="text" autofocus placeholder="#{LangService.flat('mobile', 'First Name')}")
          div.field
            input#firstNameInputId(type="text" autofocus placeholder="#{LangService.flat('mobile', 'Last Name')}")
          div.field.flag
            div.flag.item
              input#flagHideInputId(type="hidden" value="EN")
              i#flagId.icon.flag
              span#callingCodeId +376
              div.dropdown
                div.dropdown-list-filter
                  img#searchId(src="#{url_cdn}/mobile/images/nation_search.png")
                  input#filterFlagInputId(type="text" autofocus="true")
                
                ul.dropdown-menu
                  each ct,code in country_list
                    li
                      a(href="#" callingcode="#{ct.callingcode}" flag="#{code.toLowerCase()}")
                        i(class="icon flag #{code.toLowerCase()}")
                        span.nation=ct.name
              
            input#phoneInputId(type="tel" placeholder="#{LangService.flat('mobile', 'Phone number')}")
          div.field
            input#emailInputId(type="email" placeholder="#{LangService.flat('mobile', 'Email')}")
          div.field
            input#passwordInputId(type="password" placeholder="#{LangService.flat('mobile', 'Password')}")
          div.field
            button.submit#btnSubmitId= LangService.flat('mobile', "Confirm")
          div.field
            label.readme
              input#agreeCheckboxId(type="checkbox" checked)
              span= LangService.flat('mobile', "I agree")
                a(href="/mobile/info/terms")= LangService.flat('mobile', "Terms & Conditions")
                | #{LangService.flat('mobile', "and")}
                a(href="/mobile/info/privacy")= LangService.flat('mobile', "Security & Privacy")
  
block scripts
  script(src="#{url_cdn}/mobile/js/libs/zepto.min.js" type="text/javascript")
  script.
    var toastTimer = null;
    function showToast(msg){
      if(toastTimer){clearTimeout(toastTimer)}
      
      $(".toast").removeClass("hide").addClass("show").find(".msg").html(LangService.i18n(msg));
      toastTimer = setTimeout(function(){
        $(".toast").removeClass("show").addClass("hide").find(".msg").html(""); 
      },3e3);
    }
    function showMulToast(errors){
      for(var i in errors){
        switch(i){
          case "phone_number":{
            showToast(errors[i]);
          }
          break;
          case "email":{
            showToast(errors[i]);
          }
          break;
          case "password":{
            showToast(errors[i]);
          }
          break;
        }
      }
    }
    function UserReg(){
      var ELE = {
        lastNameInput:$("#lastNameInputId"),
        firstNameInput:$("#firstNameInputId"),
        phoneInput:$("#phoneInputId"),
        emailInput:$("#emailInputId"),
        passwordInput:$("#passwordInputId"),
        btnSubmit:$("#btnSubmitId"),
        flagHideInput:$("#flagHideInputId"),
        filterFlagInput:$("#filterFlagInputId"),
        flagItem:$(".flag.item"),
        flag:$("#flagId"),
        dropdownMenu:$(".dropdown-menu"),
        callingCode:$("#callingCodeId"),
        agreeCheckbox:$("#agreeCheckboxId"),
        logo:$("#logoId")
      }
      var Handler = {
        toggleDropdown:function(evt){
          evt.stopPropagation();
          //select input过滤框则不需要关闭
          var _eleId = evt.target.id;
          if(_eleId=="filterFlagInputId"){
            return;
          }
          $(".dropdown").toggle();
        },
        doFilterCountry:function(evt){
          var _val = evt.target.value;
          $(".dropdown-menu>li").hide();
          $(".dropdown-menu>li>a>.nation").each(function(index){
            var _txt = $(this).html();
            if(_txt){
              if(_txt.toLowerCase().indexOf(_val)!=-1){$(this).parent().parent().show()}
            }
          });
        },
        validPassword:function(pw){
          if(!pw){return "Enter your password";}
          if(pw.length<6||pw.length>14){
            return"Password must be between 6 and 14 characters";
          }
          return "";
        },
        validEmail:function(email){
          if (!email) {
            return "Enter your email address";
          }
      
          var emailValid = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          if (!emailValid.test(email)) {
            return "Enter a valid email address";
          }
          
          return "";
        },
        validPhone:function(phone){
          if(/^\s*$/.test(phone)){
            return "Enter a valid mobile number";
          }else if(!/^[+\-\d]+$/.test(phone)){
            return "Invalid mobile number, please enter again";
          }
        },
        doSelectFlag:function(evt){
          evt.stopPropagation();
          var _ele = evt.target;
          var _targetEle = _ele;
          var _tagName =_ele.tagName.toLowerCase();
          if(_tagName=="span"||_tagName=="i"){
            _targetEle = $(_ele).parent();
          }
          //- console.log($(_targetEle).attr("callingcode")+"==="+$(_targetEle).attr("flag"));
          var _callingCode = $(_targetEle).attr("callingcode");
          var _flag = $(_targetEle).attr("flag");
          var _currFlagCss = ELE.flag.attr("class");
          
          //替换原有的国旗样式
          if(_flag){
            var _newFlagCss = _currFlagCss.replace(/(icon flag).*/,"$1 "+_flag);
            ELE.flag.attr("class",_newFlagCss);
            ELE.flagHideInput.val(_flag.toUpperCase());
          }
          if(_callingCode){
            ELE.callingCode.html("+"+_callingCode);
          }
          $(".dropdown").hide();
        },
        doReg:function(){
          
          var _isAgree = ELE.agreeCheckbox.prop("checked");
          var _fname = ELE.firstNameInput.val();
          var _lname = ELE.lastNameInput.val();
          var _phone = ELE.phoneInput.val();
          var _email = ELE.emailInput.val();
          var _password = ELE.passwordInput.val();
          var _code = ELE.flagHideInput.val();
          //valid
          if(!_isAgree){
            showToast("You must read and agree to the our terms!");
            return;
          }
          if(!_fname){
            showToast("Enter your first name");
            return;  
          }
          if(!_lname){
            showToast("Enter your last name");
            return;
          }
          var _validPhoneMsg = Handler.validPhone(_phone);
          if(_validPhoneMsg){
            showToast(_validPhoneMsg);
            return;
          }
          var _validEmailMsg = Handler.validEmail(_email);
          if(_validEmailMsg){
            showToast(_validEmailMsg);
            return;
          }
          var _validPasswordMsg = Handler.validPassword(_password);
          if(_validPasswordMsg){
            showToast(_validPasswordMsg);
            return;
          }
          var _url = "#{url_api.reg}";
          var _postData = {
            "SignupForm[first_name]":_fname,
            "SignupForm[last_name]":_lname,
            "SignupForm[country]":_code,
            "SignupForm[phone_number]":_phone,
            "SignupForm[email]":_email,
            "SignupForm[password]":_password,
            "SignupForm[currency]":"USD",
            "SignupForm[currency_symbol]":"$",
            "lang":Cookie.getCookie("language"),
            "SignupForm[utm_source]":Cookie.getCookie("utm_source")||"",
          };
          ELE.btnSubmit.attr("disabled",true);
          $.ajax({
            url:_url,
            type:"post",
            data:_postData,
            success:function(resp){
              ELE.btnSubmit.removeAttr("disabled");
              if(!resp||resp.status!=1){
                if(resp.data){
                  showMulToast(resp.data);
                }else if(resp.msg){
                  showToast(resp.msg);
                }
                return;
              }
              
             	Cookie.setCookie("token",resp.data.token,7200);
              Cookie.setCookie("userinfo", JSON.stringify(resp.data.userinfo), 7200);
              //goto demo trade
              //- var _demoTradeUrl = "//"+Config.host[Config.env+"_host"]+"/trade?token="+resp.data.token+"&lang="+Cookie.getCookie("language")||"en";
              //- setTimeout(function(){location.href=_demoTradeUrl;},300);
              setTimeout(function(){location.href="/mobile/trade";},300);
            },
            error:function(err){
              ELE.btnSubmit.removeAttr("disabled");
              showToast(err.msg);
            }
          });
        }
      }
      function initEvt(){
        ELE.filterFlagInput.on("keyup",Handler.doFilterCountry);
        ELE.btnSubmit.on("click",Handler.doReg);
        ELE.flagItem.on("click",Handler.toggleDropdown);
        ELE.dropdownMenu.on("click",Handler.doSelectFlag);
        
        $(document).on("click",function(evt){
          var _dropdownIsShow = $(".dropdown").css("display");
          if(_dropdownIsShow=="block"){
            $(".dropdown").hide();
          }
        });
      }
      function initRegLang(){
        //根据语言初始化logo相关
        var _lang = Cookie.getCookie("language");
        var _logoCode = "";
        if(_lang=="zh-CN"||_lang=="zh-TW"||_lang=="zh-HK"){
          _logoCode = _lang.toLowerCase().replace(/zh-/,"");
          var _codeJson={"cn":"86","hk":"852","tw":"886"}
          ELE.flag.removeClass("cn tw hk").addClass(_logoCode);
          ELE.flagHideInput.val(_logoCode.toUpperCase());
          ELE.callingCode.html("+"+_codeJson[_logoCode]);
          ELE.logo.removeClass("cn tw hk").addClass(_logoCode);
        }
      }
      this.init = function(){
        initRegLang();
        initEvt();
      }
    }
    var reg = new UserReg();
    reg.init();
