extends ../layout/main
block stylesheet
  link(href="#{url_cdn}/mobile/css/pay.css" rel="stylesheet")
  
  block content
    div.container.pay_result
      div.wrap
        div.header
          div.title= LangService.flat("mobile","Payment result") 
        div.content
          div.logo
            img(src="#{url_cdn}/mobile/images/icon_pay_success.png")
          div.info= LangService.flat("mobile","success")
          a.btn.gotrade(href="/mobile")= LangService.flat("mobile","Trade again")
