extends ./layout/main
block stylesheet
  link(href="#{url_cdn}/mobile/css/trade_log.css" rel="stylesheet")
  
block content
  div.container
    div.wrap
      div.header
        div.title= LangService.flat('mobile', "Transaction details")
      div#contentId  
    include ./layout/footer
    
block scripts
  script(src="#{url_cdn}/mobile/js/libs/socket.io-1.4.5.js" type="text/javascript")
  script(src="#{url_cdn}/mobile/js/common.js")
  script(src="#{url_cdn}/mobile/js/trade_log.js")
